* {
    margin: 0;
    padding: 0;
    border: 0;
}

.title {
    text-align: center;
    height:800px;
    padding:0 200px;
}

.ferofly {
    font-weight: 400;
}

.home-image {
   margin: 10% 0;
   /* padding: 0 10%; */
}
.home-img {
    background-image: url(../../../images/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.inner {
    padding-top: 30%;
    padding-bottom:30%;
}